body {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #20C20E;
    text-align: center;
    align-items: center;
    justify-items: center;
}

a {
    text-decoration: none;
    color: #20C20E;
    font-size: 20px;
    border: 1px solid #20C20E;
    padding: 0.5em;
    margin-right: 0.5em;
}

a:hover {
    background-color: #20C20E;
    color: #FFF;
}

.led-section {
    margin-bottom: 1em;
    font-size: 30px;
    border: 1px solid #20C20E;
    width: 40%;
    padding: 1em;
}