<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Arduino Week!</title>
</head>
<body>
    <h2>==========================================================</h2>
    <h1>Welcome to Arduino Week</h1>
    <!-- <h2>==========================================================</h2> -->
    <h2>
        Author: Ada92k<br>
        Version: 0.5.0-beta
    </h2>
    <pre>
_____/\\\\\\\\\_____/\\\\\\\\\\\\________/\\\\\\\\\_________/\\\\\\\\\_______/\\\\\\\\\___________________        
___/\\\\\\\\\\\\\__\/\\\////////\\\____/\\\\\\\\\\\\\_____/\\\///////\\\___/\\\///////\\\____/\\\_________       
 __/\\\/////////\\\_\/\\\______\//\\\__/\\\/////////\\\___/\\\______\//\\\_\///______\//\\\__\/\\\_________      
  _\/\\\_______\/\\\_\/\\\_______\/\\\_\/\\\_______\/\\\__\//\\\_____/\\\\\___________/\\\/___\/\\\\\\\\____     
   _\/\\\\\\\\\\\\\\\_\/\\\_______\/\\\_\/\\\\\\\\\\\\\\\___\///\\\\\\\\/\\\________/\\\//_____\/\\\////\\\__    
    _\/\\\/////////\\\_\/\\\_______\/\\\_\/\\\/////////\\\_____\////////\/\\\_____/\\\//________\/\\\\\\\\/___   
     _\/\\\_______\/\\\_\/\\\_______/\\\__\/\\\_______\/\\\___/\\________/\\\____/\\\/___________\/\\\///\\\___  
      _\/\\\_______\/\\\_\/\\\\\\\\\\\\/___\/\\\_______\/\\\__\//\\\\\\\\\\\/____/\\\\\\\\\\\\\\\_\/\\\_\///\\\_ 
       _\///________\///__\////////////_____\///________\///____\///////////_____\///////////////__\///____\///__
    </pre>
    <h2>==========================================================</h2>
    <!-- LED SECTION 1 -->
    <div class="led-section">
        <label for="">LED 1</label>
        <a href="/led/on/0">
            Turn on
        </a>
        <a href="/led/off/0">
            Turn off
        </a>
    </div>
    <!-- LED SECTION 2 -->
    <div class="led-section">
        <label for="">LED 2</label>
        <a href="/led/on/1">
            Turn on
        </a>
        <a href="/led/off/1">
            Turn off
        </a>
    </div>
    <!-- LED SECTION 3 -->
    <div class="led-section">
        <label for="">LED 3</label>
        <a href="/led/on/2">
            Turn on
        </a>
        <a href="/led/off/2">
            Turn off
        </a>
    </div>
</body>
</html>